<h1>Blog</h1>
<% @posts.each do |post| %>
   <h2><%= link_to post.title, blog_url(post) %></h2>
   <div class='row-fluid'>
     <%=raw post.content %>
   </div>
   <div class='row-fluid'>
     <i class="icon-user"></i> Jim Ray
     &nbsp;&nbsp;|&nbsp;&nbsp;
     <i class="icon-calendar"></i> <%=  post.created_at.strftime('%m/%d/%Y %H:%M') %>
     &nbsp;&nbsp;|&nbsp;&nbsp;
     <i class='icon-tags'></i> 
     <%= link_to "Ruby", '#', class: 'label label-warning' %> 
     <%= link_to "Ruby on Rails", '#', class: 'label label-warning' %> 
     <%= link_to "Postgresql", '#', class: 'label label-warning' %>
   </div>
<% end %>
